@page
@using RazorPages.Pages
@model HomePage

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Problem Solver</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 450px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 200%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @@mediascreen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Problem Solver</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Problems</a></li>
                    <li><a href="/Submissions">Submissions</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <h3>Companies</h3>

                @foreach (var Company in @ViewBag.Companies)
                {
                    <p><a href="?company=@Company">@Company</a></p>
                }
            </div>
            <div class=" col-sm-8 text-left">
                <div style="padding-top: 1%">
                    <h3>Problems</h3>
                </div>

                <hr>

                <div style="padding: 4%">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Problem Name</th>
                                <th scope="col">Companies</th>
                                <th scope="col">Topics</th>
                                <th scope="col">Difficulty</th>
                                <th scope="col">Acceptance</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var Problem in @ViewBag.Problems)
                            {
                                <tr>
                                    <td><a href="/Problem?problemReference=@Problem.Id">@Problem.Name</a></td>
                                    <td style="color: grey">
                                        @foreach (var Company in @Problem.Companies)
                                        {
                                            <a style="color: inherit;" href="/?company=@Company">#@Company </a>
                                        }
                                    </td>
                                    <td style="color: blue">
                                        @foreach (var Topic in @Problem.Tags)
                                        {
                                            <a style="color: inherit;" href="/?topic=@Topic">#@Topic </a>
                                        }
                                    </td>
                                    <td style=" color: green">@Problem.Difficulty
                                    </td>
                                    <td><span class="label label-warning">@Problem.Acceptance %</span></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-sm-2 sidenav">
                <h3>Topics</h3>

                @foreach (var Tag in @ViewBag.Tags)
                {
                    <p><a href="?topic=@Tag">@Tag</a></p>
                }
            </div>
        </div>
    </div>

</body>

</html>